<form action="" method="POST">
    {% csrf_token %}
    영화명 : <input type="text" name="title" value="{{movie.title}}"><br>
    영화명(원문): <input type="text" name="title_origin" value="{{movie.title_origin}}"><br>
    TMDB 투표수 : <input type="number" name="vote_count" value="{{movie.vote_count}}"><br>
    개봉일 : <input type="date" name="open_date" value="{{movie.open_date}}"><br>
    장르 : <input type="text" name="genre" value="{{movie.genre}}"><br>
    평점 : <input type="number" name="score" value="{{movie.score}}"><br>
    포스터 이미지 URL : <input type="text" name="poster_url" value="{{movie.poster_url}}"><br>
    영화소개 : <textarea name="description" id="description" cols="30" rows="10">{{movie.description}}</textarea><br>
    <input type="submit" value="Submit">
</form>
